{{log this}}
<div id="fast-dice-box">
  <div class="controls">
    <div id="drag"><i class="fa-regular fa-up-down-left-right"></i></div>
    <div id="orientation"><i class="fa-solid fa-rotate-right"></i></div>
  </div>
  <div class="collapsible"></div>
  <div class="content">
    {{#each diceConfig}}
      <div class="roll" data-roll="{{this.formula}}" title="{{this.label}}"><div class="img" style="-webkit-mask: url({{this.img}}); -webkit-mask-position: 50% 50%; -webkit-mask-size: cover"></div><span>{{this.label}}</span></div>
    {{/each}}
  </div>

</div>
