<div id="fast-dice-box">
  <div id="drag"><i class="fa-regular fa-up-down-left-right"></i></div>
  <div class="collapsible"></div>
  <div class="content">
    <div class="d20 roll" data-roll="d20" title="{{localize 'fdb.dice.d20'}}"><span>{{localize "fdb.dice.d20"}}</span></div>
    <div class="d12 roll" data-roll="d12" title="{{localize 'fdb.dice.d12'}}"><span>{{localize "fdb.dice.d12"}}</span></div>
    <div class="d10 roll" data-roll="d10" title="{{localize 'fdb.dice.d10'}}"><span>{{localize "fdb.dice.d10"}}</span></div>
    <div class="d8 roll" data-roll="d8" title="{{localize 'fdb.dice.d8'}}"><span>{{localize "fdb.dice.d8"}}</span></div>
    <div class="d6 roll" data-roll="d6" title="{{localize 'fdb.dice.d6'}}"><span>{{localize "fdb.dice.d6"}}</span></div>
    <div class="d4 roll" data-roll="d4" title="{{localize 'fdb.dice.d4'}}"><span>{{localize "fdb.dice.d4"}}</span></div>
    <div class="two-d6 roll" data-roll="2d6" title="{{localize 'fdb.dice.two-d6'}}"><span>{{localize "fdb.dice.two-d6"}}</span></div>
    <div class="two-d6 roll" data-roll="d6*10+d6" title="{{localize 'fdb.dice.d66'}}"><span>{{localize "fdb.dice.d66"}}</span></div>
    <div class="d100 roll" data-roll="d100" title="{{localize 'fdb.dice.d100'}}"><span>{{localize "fdb.dice.d100"}}</span></div>
  </div>

</div>
