/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */
/*a.entity-link,
a.content-link,
a.inline-roll {
  line-height: 1.8em;
}*/

#fast-dice-box{
  --fdb-background-color: rgba(255, 255, 255, 0.3);
  pointer-events: all;
  display: flex;
  height: fit-content;
  row-gap: 0.8em;
  /*noinspection CssUnresolvedCustomProperty*/
  z-index: calc(var(--z-index-ui) + 10);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--fdb-background-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
}

#fast-dice-box.row,
#fast-dice-box.row > .content {
  flex-direction: row;
}

#fast-dice-box.column,
#fast-dice-box.column > .content {
  flex-direction: column;
}

#fast-dice-box .roll{
  position: relative;
  z-index: 0;
  font-size: var(--font-size-18);
  font-weight: bold;
  width: 48px;
  height: 48px;
  border: none;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px -1px 1px #ffffff, 1px -1px 1px #ffffff, -1px 1px 1px #ffffff, 1px 1px 1px #ffffff;
  transition: all .2s ease-in-out;
}

#fast-dice-box .roll > .img {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--dice-color);
  width: 48px;
  height: 48px;
}

/*#fast-dice-box .roll:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--dice-color);
  width: 48px;
  height: 48px;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: cover;
}*/

#fast-dice-box .roll:hover,
#fast-dice-box .collapsible:hover {
  transform: scale(1.2);
}

#fast-dice-box .d100:before {
  -webkit-mask-image:  url(../assets/d100-grey.svg);
                 }

#fast-dice-box .two-d6:before {
  -webkit-mask-image:  url(../assets/two-d6-grey.svg);
}

#fast-dice-box .d20:before {
  -webkit-mask-image: url(../assets/d20-grey.svg);

}

#fast-dice-box .d12:before {
  -webkit-mask-image:  url(../assets/d12-grey.svg);
}

#fast-dice-box .d10:before {
  -webkit-mask-image:  url(../assets/d10-grey.svg);
}

#fast-dice-box .d8:before {
  -webkit-mask-image:  url(../assets/d8-grey.svg);
}

#fast-dice-box .d6:before {
  -webkit-mask-image:  url(../assets/d6-grey.svg);
}

#fast-dice-box .d4:before {
  -webkit-mask-image:  url(../assets/d4-grey.svg);
}

.fast-dice-box form {
  font-family: var(--font-primary);
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5em;
  gap: 0.5em;
  align-items: center;
}

.fast-dice-box input {
  display: block;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-18);
  align-content: center;
  text-align: center;
  width: 100%;
}

#fast-dice-box .collapsible {
  /*background: url("../assets/dice-cup.svg");*/
  position: relative;
  z-index: 0;
  pointer-events: all;
  width: 48px;
  height: 48px;
  transition: all .2s ease-in-out;
}

#fast-dice-box.column .collapsible.active {
  border-bottom: 1px solid white;
}

#fast-dice-box.row .collapsible.active {
  border-right: 1px solid white;
  margin-right: 0.2em;
}

#fast-dice-box .collapsible:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--dice-color);
  width: 48px;
  height: 48px;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: cover;
  -webkit-mask-image: url("../assets/dice-cup.svg");
}

#fast-dice-box .content {
  display: none;
  overflow: visible;
  height: fit-content;
  row-gap: 0.8em;
  column-gap: 0.8em;
}

div#toast-container {
  position: absolute;
  z-index: 999999;
}

#toast-container>div.toast-info {
  background-image: none !important;
}

.toast-info {
  background-color: rgb(253 255 227 / 80%) !important;
  color: black !important;
}

.toast-top-right {
  top: 15px !important;
  right: 15px !important;
}

.toast-message a.message-delete {
  display: none;
}

.toast-message h4.message-sender {
  font-family: var(--font-accent);
}

#toast-container>div {
  padding: 15px !important;
}

#drag {
  color: whitesmoke;
  text-shadow: 1px 1px 2px var(--color-shadow-dark);
}

.config-table {
  display: grid;
  grid-template-columns: 40px 40px 3fr 1fr 2fr 2fr;
  grid-template-rows: auto;
  column-gap: 0.2em;
}

.img-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-selector > img {
  height: 32px;
  width: 32px;
}
