/*noinspection CssUnresolvedCustomProperty*/
#fast-dice-box{
  --fdb-dice-color: red;
  --fdb-background-color: rgba(255, 255, 255, 0.3);
  --fdb-icon-size: 48px;
  --fdb-text-shadow: 1px 1px 2px var(--color-shadow-dark);
  --fdb-text-shadow-accent: 0 0 8px var(--color-shadow-primary);
  --fdb-font-size: var(--font-size-18);
  --fdb-border-radius: 0.5em;
  --fdb-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --fdb-drop-shadow: drop-shadow(0.15rem 0.15rem 0.20rem rgba(0, 0, 0, 0.5));
  --fdb-padding: 0.5em;
  --fdb-gap: 0.8em;
  --fdb-reversed-displacement: calc(1em + var(--fdb-padding) * 2);
  --fdb-font: var(--font-primary);
  --fdb-font-accent: var(--font-accent);
  display: flex;
  height: fit-content;
  /*noinspection CssUnresolvedCustomProperty*/
  z-index: calc(var(--z-index-ui) + 10);
  position: absolute;
  filter: var(--fdb-drop-shadow);
  grid-gap: 0;
}

#fast-dice-box .content {
  display: none;
  overflow: visible;
  height: fit-content;
  width: fit-content;
  font-size: var(--fdb-font-size);
}

#fast-dice-box .collapsible {
  position: relative;
  pointer-events: all;
  width: fit-content;
  height: fit-content;
  transition: all .2s ease-in-out;
  background-color: var(--fdb-background-color);
  padding: var(--fdb-padding);
  font-size: var(--fdb-font-size);
}

#fast-dice-box .dice-content,
#fast-dice-box .roll-modes {
  display: flex;
  gap: var(--fdb-gap);
  height: fit-content;
  width: fit-content;
  background-color: var(--fdb-background-color);
  padding: var(--fdb-padding);
  font-size: var(--fdb-font-size);
}

#fast-dice-box .roll-mode-content {
  display: flex;
  align-items: center;
  gap: var(--fdb-gap);
  pointer-events: all;
}

#fast-dice-box .roll-mode-content, #fast-dice-box .roll-modes {
  justify-content: end;
  align-self: end;
}

#fast-dice-box .roll-mode-content > i,
#fast-dice-box .roll-modes > i{
  pointer-events: all;
}

#fast-dice-box .roll-modes > i.active {
   text-shadow: var(--fdb-text-shadow-accent);
}

#fast-dice-box.row .dice-content {
  border-radius: 0 var(--fdb-border-radius) 0 0;
}

#fast-dice-box.column .dice-content {
  border-radius: 0 0 0 var(--fdb-border-radius);
}

#fast-dice-box.row .roll-modes {
  border-radius: 0 0 var(--fdb-border-radius) var(--fdb-border-radius);
}

#fast-dice-box.column .roll-modes {
  border-radius: 0 var(--fdb-border-radius) var(--fdb-border-radius) 0;
}

#fast-dice-box.row,
#fast-dice-box.row > .content > .dice-content,
#fast-dice-box.column > .content,
#fast-dice-box.column .buttons {
  flex-direction: row;
}

#fast-dice-box.column,
#fast-dice-box.column > .content > .dice-content,
#fast-dice-box.row > .content,
#fast-dice-box.row .buttons {
  flex-direction: column;
}

#fast-dice-box.row > .content > .roll-mode-content,
#fast-dice-box.row > .content > .roll-mode-content > .roll-modes {
  flex-direction: row;
}

#fast-dice-box.column > .content > .roll-mode-content,
#fast-dice-box.column > .content > .roll-mode-content > .roll-modes {
  flex-direction: column;
}

#fast-dice-box.column.reversed > .content {
  flex-direction: row-reverse;
  position: relative;
  right: var(--fdb-reversed-displacement);
}

#fast-dice-box.row.reversed > .content {
  flex-direction: column-reverse;
  position: relative;
  bottom: var(--fdb-reversed-displacement);
}

#fast-dice-box.row.reversed .dice-content {
  border-radius: 0 0 var(--fdb-border-radius) 0;
}

#fast-dice-box.column.reversed .dice-content {
  border-radius: 0 0 var(--fdb-border-radius) 0;
}

#fast-dice-box.row.reversed .roll-modes {
  border-radius: var(--fdb-border-radius) var(--fdb-border-radius) 0 0;
}

#fast-dice-box.column.reversed .roll-modes {
  border-radius: var(--fdb-border-radius) 0 0 var(--fdb-border-radius);
}

#fast-dice-box .controls {
  color: whitesmoke;
  text-shadow: var(--fdb-text-shadow);
  background-color: var(--fdb-background-color);
  display: flex;
  justify-content: start;
  gap: var(--fdb-gap);
  padding: var(--fdb-padding);
  height: fit-content;
  width: fit-content;
  font-size: var(--fdb-font-size);
}

#fast-dice-box .roll-mode-content > i {
  color: whitesmoke;
  text-shadow: var(--fdb-text-shadow);
}

#fast-dice-box.row > .controls {
  border-radius: var(--fdb-border-radius) 0 0 var(--fdb-border-radius);
}

#fast-dice-box .buttons {
  display: flex;
  gap: var(--fdb-gap);
  justify-content: space-around;
}


#fast-dice-box.row .buttons {
  height: var(--fdb-icon-size);
}

#fast-dice-box.column > .controls {
  border-radius: var(--fdb-border-radius) var(--fdb-border-radius) 0 0;
}

#fast-dice-box.column .buttons {
  width: var(--fdb-icon-size);
}

#fast-dice-box .roll{
  position: relative;
  z-index: 0;
  font-weight: bold;
  width: var(--fdb-icon-size);
  height: var(--fdb-icon-size);
  border: none;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px -1px 1px #ffffff, 1px -1px 1px #ffffff, -1px 1px 1px #ffffff, 1px 1px 1px #ffffff;
  transition: all .2s ease-in-out;
  filter: var(--fdb-drop-shadow);
}

#fast-dice-box .roll > span {
  font-size: var(--fdb-font-size);
}

#fast-dice-box .roll > .img {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--fdb-dice-color);
  width: var(--fdb-icon-size);
  height: var(--fdb-icon-size);
}

#fast-dice-box .roll:hover,
#fast-dice-box .collapsible > .img:hover {
  transform: scale(1.2);
}

.fast-dice-box form {
  font-family: var(--fdb-font);
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5em;
  gap: 0.5em;
  align-items: center;
}

.fast-dice-box input {
  display: block;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: var(--fdb-font-size);
  align-content: center;
  text-align: center;
  width: 100%;
}

#fast-dice-box.row .collapsible:not(.active) {
  border-radius: 0 var(--fdb-border-radius) var(--fdb-border-radius) 0;
}

#fast-dice-box.column .collapsible:not(.active) {
  border-radius: 0 0 var(--fdb-border-radius) var(--fdb-border-radius);
}

#fast-dice-box.column .collapsible.active {
  border-bottom: 1px solid white;
}

#fast-dice-box.row .collapsible.active {
  border-right: 1px solid white;
  padding-right: 1em;
}

#fast-dice-box .collapsible > .shadowed > .img {
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--fdb-dice-color);
  width: var(--fdb-icon-size);
  height: var(--fdb-icon-size);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: cover;
  -webkit-mask-image: url("../assets/dice-cup.svg");
}

#fast-dice-box .collapsible > .shadowed {
  filter: var(--fdb-drop-shadow);
}
