div#toast-container {
    position: absolute;
    z-index: 999999;
}

#toast-container>div.toast-info {
    background-image: none !important;
}

.toast-info {
    background-color: rgb(253 255 227 / 80%) !important;
    color: black !important;
}

.toast-top-right {
    top: 15px !important;
    right: 15px !important;
}

.toast-message a.message-delete {
    display: none;
}

.toast-message h4.message-sender {
    font-family: var(--fdb-font-accent);
}

#toast-container>div {
    padding: 15px !important;
}
